@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[#0d1117]
    
}
body {
    font-family: Hubot, sans-serif;
}
@font-face {
    font-family: Hubot;
    src: url(./assets//fonts/Hubot-Sans-Regular.woff2);
}